<h1>Search for related terms</h1>
<div>
    <label for="keyword">Keyword:</label> <input id="keyword" (keydown.enter)="callApi()" type="text" placeholder="e.g. 'Kubernetes'" [(ngModel)]="keyword" />
</div>

<button (click)="callApi()">Get Data</button>

<div class="graph-container">
    <ngx-graph layout="d3ForceDirected" [links]="edges" [nodes]="nodes" [autoCenter]="true" [zoomToFit$]="zoomToFit$" [center$]="center$">
        <ng-template #nodeTemplate let-node>
            <svg:g class="node">
                <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" [attr.fill]="node.data.color" />
                <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                    {{node.label}}
                </svg:text>
            </svg:g>
        </ng-template>

        <ng-template #linkTemplate let-link>
            <svg:g class="edge">
                <svg:path class="line" [attr.stroke-width]="link.weight" marker-end="url(#arrow)"></svg:path>
            </svg:g>
        </ng-template>
    </ngx-graph>
</div>